name: Develop Quick Check

on:
  pull_request:
    branches: [ "develop" ]
  push:
    branches: [ "develop" ]


jobs:
  quick-check:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Quick validation
        run: echo "ok"